#recordedMovieAria {
    position: relative;
    width: 100%;
    height: 85px;
}
.recordedMovieWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    padding: 5px 0;
    display: flex;
    box-sizing: border-box;
}
.recordedMovieBox {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    text-align: right;
    white-space: nowrap;
}
.recordedMovie {
    position: relative;
    margin-left: 10px;
    width: 90px;
    min-width: 90px;
    height: 50px;
    min-height: 50px;
    overflow: hidden;
    border: 1px solid #333;
    border-radius: 5px;
    display: inline-block;
}
.recordedMovie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* 右上の✕ボタン */
.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

/* 右下の↓ボタン */
.downloadButton {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  padding: 2px !important;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

/* ホバー時に表示 */
.recordedMovie:hover .closeButton,
.recordedMovie:hover .downloadButton {
  opacity: 1;
}

#video-modal {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100vh; */
    /* background: rgba(0, 0, 0, 0.5); */
    z-index: 10000;
    display: none;
}

#video-modal .modal-content {
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 1);
    border-radius: 5px;
    overflow: hidden;
}

#video-modal .close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    z-index: 2;
}

#video-modal video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.control-panel {
  min-width: 120px;
  padding: 0 5px;
}
.control-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.control-status {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#recordTime {
  font-size: x-small;
  color: #fff;
}

#recordedMovieAria button {
  padding: 2px 7px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: x-small;
}

#recordedMovieAria button:disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

#startButton {
  background: red;
  color: white;
}

#stopButton {
  background: cornflowerblue;
  color: white;
}

#stopButton:disabled {
  background: gray;
  cursor: not-allowed;
}
#reloadButton {
  background: transparent;
  color: #ccc;
  border: 1px solid white;
}

#clearButton {
  background: transparent;
  color: #999;
  border: 1px solid white;
}

.capbutton {
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.capbutton img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  filter: invert(100%) brightness(200%);
}

#recordStatus {
  font-size: small;
  text-align: center;
  color: #ccc;
}

.textRed {
  color: red !important;
}